<main>
    {{#if hasProducts}}
        <div class="grid">
            {{#each prods}}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">{{this.title}}</h1>
                    </header>
                    <div class="card__image">
                        <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?w=900&t=st=1698575378~exp=1698575978~hmac=d3877f5f4718a3b522ec8cd073337417e97a2092e321861b3630e798fb127b72" alt="A Book">
                    </div>
                    <div class="card__content">
                        <h2 class="product_price">$50.00</h2>
                        <p class="product_description">A very intresting book about so many even more intresting things!</p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
            {{/each}}
        </div>
    {{else}}
    <h1>No Products</h1>
    {{/if}}
</main>
