extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="css/product.css")
    
block content  
        main
            if prods.length > 0    
                .grid 
                    each product in prods
                        article.card.product-item 
                            header.card__header 
                                h1.product__title #{product.title}
                            .card__image 
                                img(src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?w=900&t=st=1698575378~exp=1698575978~hmac=d3877f5f4718a3b522ec8cd073337417e97a2092e321861b3630e798fb127b72", alt="A Book")
                            .card__content 
                                h2.product_price $20.00
                                p.product_description A very intresting book about so many even more intresting things! 
                            .card__actions 
                                button.btn Add to Cart 
            else 
                h1 No Products
